<div class="desr">
	<p>
		需要SopCast才能正常播放此比赛，如您尚未安装，可在此<a href="http://download.sopcast.cn/download/SopCast.zip">下载</a>。
	</p>
</div>
<OBJECT ID="SopPlayer" name="SopPlayer" 
	CLASSID=clsid:8FEFF364-6A5F-4966-A917-A3AC28411659 
	CODEBASE="http://download.sopcast.cn/download/SOPCORE.CAB#version=2,0,4,0" 
	HEIGHT=350 WIDTH=450>
	<param name="AutoStart" value="1">  
	<param name="Language" value="cn_CH">
	<param name="SopAddress" value="{{ address }}">
	<param name="ChannelName" value="{{ name }}">
</OBJECT>