/* begin css tabs */
ul.tabnav { /* general settings */
	text-align: left; /* set to left, right or center */
	margin: 1em 0 1em 0; /* set margins as desired */
	font: bold 12px verdana, arial, sans-serif; /* set font as desired */
	border-bottom: 1px solid #999; /* set border COLOR as desired */
	list-style-type: none;
	padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul.tabnav li { /* do not change */
	display: inline;
}

.tabnav li.active { /* settings for selected tab */
	border-bottom: 1px solid #fff; /* set border color to page background color */
	background-color: #fff; /* set background color to match above border color */
}

.tabnav li.active a { /* settings for selected tab link */
	background-color: #fff; /* set selected tab background color as desired */
	color: #000; /* set selected tab link color as desired */
	position: relative;
	top: 1px;
	padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul.tabnav li a { /* settings for all tab links */
	padding: 3px 10px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	border: 1px solid #999; /* set border COLOR as desired; usually matches border color specified in .tabnav */
	background-color: #eee; /* set unselected tab background color as desired */
	color: #666; /* set unselected tab link color as desired */
	margin-right: 0px; /* set additional spacing between tabs as desired */
	text-decoration: none;
	border-bottom: none;
}

ul.tabnav a:hover { /* settings for hover effect */
	background: #fff; /* set desired hover color */
}
/* end css tabs */

body {
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Grande", Tahoma, Verdana, arial, sans-serif, hei;
	font-size: 12px;
	background: #eee;
}

a {
	color: #000;
	text-decoration: none;
}

.box {
	width: 700px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 20px;
	padding: 0 10px 10px 10px;
	border: 1px solid #999;
	background: #fff;
}

ul#live-list {
	list-style-type: none;
	margin: 1em 0 1em 0;
	padding: 0 10px 0 10px;
}

ul#live-list li {
	border-bottom: 1px solid #eee;
	padding: 5px 0 3px;
}

ul#live-list li span {
	margin: 0 10px;
}

ul.channels {
	list-style-type: none;
	margin: 1em 0 1em 0;
	padding: 0 10px 0 10px;
	display: inline;
}

ul.channels li {
	display: inline;
	margin-right: 8px;
}

ul.channels li a {
	color: #0099ee;
}

ul.channels li a:hover {
	text-decoration: underline;
}

span.game {
	font-weight: bold;
}

div.desr {
	padding-left: 10px;
	margin-bottom: 10px;
	display: block;
	clear: both;
}

div.desr p a{
	color: #0099ee;
}

#methods {
	display: none;
}